<mat-toolbar>

  <button mat-icon-button>
    <mat-icon class="em-icon" aria-label="Example icon-button with menu icon">stars</mat-icon>
  </button>

  <div class="spacing">
    <span class="head1">Discovery</span>
    <span class="head2">Land Company</span>
  </div>
  <span class="example-spacer"></span>

  <a mat-button>About DLC</a>
  <a mat-button>Our Worlds</a>
  <a mat-button>Experiences</a>
  <a mat-button>Gallery</a>
  <a mat-button>Press</a>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>