<header class="header">

  <mat-toolbar class="toolbar">
    
    <!-- <div> -->
      <img class="logo-img" src="../../../assets/logo.png" alt="No image found" srcset="">
      <!-- </div> -->
      
  <span class="example-spacer"></span>

  <a class="mat-button">About DLC</a>
  <a class="mat-button">Our Worlds</a>
  <a class="mat-button">Experiences</a>
  <a class="mat-button">Gallery</a>
  <a class="mat-button">Press</a>
  
  <mat-icon class="menu-bar ">menu</mat-icon>
  
</mat-toolbar>
</header>