  .header{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .toolbar{
    padding: 60px 30px;
  }
  .logo-img{
    height: 45px;
    padding-left: 60px;
    padding-top: 10px;
  }
  .logo-img:hover{
    cursor: pointer;
  }
  a{
    font-size: 1.2rem;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  } 
 .mat-button{
    padding: 10px 30px;
 }
 .menu-bar{
    padding: 10px 40px;
 }
.menu-bar:hover{
    cursor: pointer;
}