<!-- About DLC Part 1 -->
<section class="container_1">
    <img class="bg_img" src="../../../assets/about_dlc/section_1_bg_1.jpg" alt="" srcset="">
    <p class="title">Creating your </p>
    <p class="subtitle">perfect world</p>
</section>
<!-- About DLC Part 2 -->
<section class="container_2">
    <div class="paragraph">
        <p>Founded in 1994 by Mike Meldma. Discovery Land Company is a</p>
        <p>US-base read estate developer and operator of private residential</p>
        <p>club communities and resorts with a world-renowned portfolio of</p>
        <p>domestic and international properties.</p>
    </div>
</section>
<!-- About DLC Part 3 -->
<section class="container_3">
    <div class="part_1">
        <div class="heading1">
            <p>Our Mission</p>
        </div>
        <div class="para_1">
            <div class="writeup">We don't buildings, but rather we build settings</div>
            <div class="writeup">where families can create intergenerational memories</div>
            <div class="writeup">and enrich their lives in exuisite and untouched</div>
            <div class="writeup">sanctuaries. Everything we do is riven by the</div>
            <div class="writeup">fundamental desire to create spaces where families can</div>
            <div class="writeup">be together.</div>
            <div class="writeup"></div>
        </div>
        <div class="para_1">
            <div class="writeup">These settings offer a relaxed and comfortable sense of</div>
            <div class="writeup">community featuring outstanding clubhouses,</div>
            <div class="writeup">incredible residential offerings, premier golf courses,</div>
            <div class="writeup">welcoming staff, world-class culinary offerings and our</div>
            <div class="writeup">custom Outdoor Pursuits program, all offerings and our</div>
            <div class="writeup">custom Outdoor Pursuits program; all offering the</div>
            <div class="writeup">highest of service sandards to enrich your experience.</div>
            <div class="writeup"></div>
        </div>
    </div>
    <div class="part_2">
        <img class="sec_3_img" src="../../../assets/about_dlc/section_3_img1.jpg" alt="" srcset="">
    </div>
</section>

<!-- About DLC Part 4 -->
<section class="container_4">
    <div class="">
        <img class="sec_4_img" src="../../../assets/about_dlc/section_4_img1.jpg" alt="" srcset="">
    </div>
</section>
<!-- About DLC Part 5 -->
<section class="container_5">
    <div class="sec_heading">
        <p>The Discovery Difference</p>
    </div>
    <div>
        <ng-image-slider #nav
        [images]="imageObject"
        [infinite]="true"
        [autoSlide]="0.1"
        [animationSpeed]="5"
        [showArrow]="false"
        [imageSize]="{width: '30%', height: 500}"
        ></ng-image-slider>
    </div> 
</section>