*{
    margin: 0;
    padding: 0;
}

// Section 1

.container_1{
    background-color: black;
    height: 100vh;
    width: 100wh;
    position: relative;
    opacity: 0.9;
}
.bg_img{
    height: 100%;
    width: 100%;
    position: relative;
}
.title {
    position: absolute;
    top: 290px;
    left: 290px;
    color:white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}
.subtitle {
    position: absolute;
    top: 350px;
    left: 290px;
    color: white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}

  // Section 2

.container_2{
      height: 80%;
      width: 100%;
      background-color: white;
    //   border: 2px solid purple;
    //   opacity: 0.7;
}
.paragraph{
    padding: 35px;
    margin: 120px;
    text-align: center;
    font-size: 37px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.7;
}

  // Section 3

.container_3{
    height: 100%;
    width: 100%;
    // background-color: yellow;
    display: flex;
    // padding: 50px;
    // margin: 50px;
}
.part_1{
    // border: 2px solid red;
    height: 100%;
    width: 50%;
    // background-color: pink;
    top: 100px;
}
   
.heading1{
    padding-top: 100px;
    padding-left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 30px;
    opacity: 0.8;
}
.para_1{
    padding-left: 120px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    padding-right: 80px; 
}
.writeup{
    padding-bottom: 10px;
    font-size: 17px;
    opacity: 0.8;
}
.sec_3_img{
    height: 100%;
    width: 87%;
    opacity: 0.9;
}
.part_2{
    // border: 2px solid green;
    height: 100%;
    width: 50%;
    // background-color: cyan;
}