// // .video{
    
// //     position: absolute;
// //     height: 100%;
// //     width: 100%;
// //     object-fit: cover;
// //     }
// // .img{
    
// //     position: flex;
// //     height: 100%;
// //     width: 100%;
// //     object-fit: cover;
// //     order: 4;    
// // }
// // // .video1{
// // //     display: inline-block;
// // //     position: absolute;
// // //     height: 100%;
// // //     width: 100%;
// // //     object-fit: cover;
// // //     }
// // .container{
// //     display: flex;
// //     flex-direction: column;
// // }

// /* .container{
//     height: auto;
//     width: auto;
    
//     display: flex;
//     flex-direction: column;
//     background-color: yellow;
//     padding:20px;
// }
// .item{
//     // height: 300px;
//     // width: 100%;
//     // object-fit: cover;
//     background-color:pink;
//     border: 1px solid black;
//     background-size: cover;
//     // opacity: 0.6;
// } */

// *{
//     margin: 0;
//     padding: 0;
// }

// // Home Section
// #home{
//     display: flex;
//     flex-direction: column;
//     padding: 50px;
//     justify-content: center;
//     align-items: center;
// }
// #home::before{
//    content: "";
//    position: absolute;
//    background: url(../../../assets/bg_img.jpg);
//    height: 100%;
//    width: 100%;
//    z-index: -1;
//    opacity: 0.7;

// }


#div1 {
    height:100%;
    width:100%;
    background: url(../../../assets/bg_img.jpg) no-repeat 50%/cover;
    // opacity: 0.1;
}
#div2 {
    height:100%;
    width:100%;
    background: url(../../../assets/bg_img.jpg) no-repeat 50%/cover;
    // border: 2px solid black;
}

.heading{
    padding: 50xpx;
    border: 2px solid red;
    font-size: 50px;
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: yellow;
}
// <div style="position: relative; display: inline-block; transform: translate(0px, 0px);">D</div>
.honda {
    line-height: 2;
    font-size: 0.9rem;
}

.heading1{
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 40px;
    padding-top: 90px;
    padding-left: 150px;
}
.heading2{
    font-family: gotham;
    font-weight: 100;
    font-size: 40px;
    padding-left: 150px;
    padding-bottom: 30px;
}
.paragraph{
    display: block;
    text-align: start;
    position: relative;
    opacity: 1;
    padding-left: 150px;
    font-size: 1.1rem;
    font-family: messina-sans;
}
.image1{
    // display: flex;
    // flex-direction: row-reverse;
    height: 280px;
    width: 450px;
    padding-left: 110px;
    padding-bottom: 50px;
    // display: inline-block;
    position: absolute;
}
.image2{
    // display: flex;
    // flex-direction: row-reverse;
    height: 66%;
    width: 36%;
    padding-top: 90px ;
    padding-left: 700px;
}

.section_2{
    display: inline-block;
    position: absolute;
    // flex-direction: row-reverse;
    // flex-wrap: wrap;
}
.para2{
    padding-bottom: 100px;
}
#div3 {
    height:100%;
    width:100%;
    background-color: white no-repeat 50%/cover;
    // opacity: 0.1;
}
.slider{
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: row;
}
.card_img{
    height: 450px;
    // height: fit-content;
    width: 380px;
    margin: 2px;
    padding-top: 50px;
    // padding-bottom: 20px;
}
.container_2{
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding-bottom: 150px;
    padding-top: 50px
}
.container_3{
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding: 30px 0px;
    // margin: 10px;
    z-index: -1;
}
.title {
    position: absolute;
    bottom: 20px;
    left: 200px;
    color:white;
    font-size: 4.5rem;
    bottom: 120px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 6px;
    padding-bottom: 10px;
    // line-height: 150px;
  }
  .subtitle {
    position: absolute;
    bottom: 100px;
    left: 200px;
    color: white;
    font-size: 3.5rem;
    letter-spacing: 6px;
  }

  .card_title{
    position: relative;
    bottom: 100px;
    left: 60px;
    color:white;
  }
  .card_subtitle{
    position: relative;
    bottom: 100px;
    left: 60px;
    color:white;
  }
  .mat-card{
    //   border: 2px solid red;
    //   display: block;
      height: fit-content;
  }

  //Container 4 Globe

  .container_4{
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding: 60px 0px;
    // margin: 0;
    z-index: 2;
    }

  #div4{
    height:50%;
    width:100%;
    background-color: white;
    // background: url(../../../assets/gps/globe-usa.jpg) no-repeat center cover;
    // z-index: 50;
    // opacity: 0.3;
    // border: 2px solid black; 
    }
    .count{
        padding-top: 40px ;
        padding-bottom: 40px ;
        display: flex;
        padding-left: 150px;
    }
    // .count::after{
    //     background: url(../../../assets/gps/globe-usa.jpg) no-repeat 50%/cover;
    // }
    .country{
        padding-right:40px ;
        font-weight: bold;
        text-decoration: underline;
    }
    // .bg_img {
    //     background-image: url(../../../assets/gps/globe-usa.jpg); /* The image used */
    //     background-color: #cccccc; /* Used if the image is unavailable */
    //     height: 500px; /* You must set a specified height */
    //     background-position: center; /* Center the image */
    //     background-repeat: no-repeat; /* Do not repeat the image */
    //     background-size: cover; /* Resize the background image to cover the entire container */
    //     padding-top: 200px;
    //   }

    .container_5{
        height: 100%;
        width: 100%;
        // border: 5px solid red;
        // padding: 60px 0px;
        // margin: 0;
        // z-index: 2;
        }
    
      #div5{
        height:100%;
        width:70%;
        padding-top: 120px;
        // background-color: yellow;
        background: url(../../../assets/gps/globe-usa.jpg) no-repeat 50%/cover;
        // z-index: 50;
        // opacity: 0.8;
        // border: 2px solid black; 
        }
        // .bg_color{
        //     // height: 70%;
        //     // width: 50%;
        //     background-color: black;
        //     position: absolute;
        //     right: 0;
        //     // top: 50;
        //     // padding-top: 100px;
        // }
        // .image_top{
        //     height: 70%;
        //     width: 25%;
        //     position: relative;
        //     top: 10;
        //     // right: 0;
        //     padding-left: 960px;
        // }
        // .img_grow{
        //     height: 60%;
        //     width: 100%;
        // }
        #bg_card{
            // padding-top:150px;
            height: 65%;
            width: 45%;
            background-color: black;
            position: absolute;
            right: 0;
            z-index: 20;
            // padding-top: 220px;
        }
        #img_float{
            height: 580px;
            width: 270px;
            // width: 30%;
            position: absolute;
            // right: 10;
            padding-left: 1030px;
            // padding-top: 120px;
            // padding-bottom: 600px;
            // padding-top: 100px;
            // padding-bottom: 100px;
            // top: 10;
            // justify-content: right;
            z-index: 30;
        }
        .first{
            color: white;
            padding:30px;
            // background-color: yellow;
            // height: 450px;
            // width: 300px;
        }
        .second{
            color: white;
            padding-left:35px;

        }
        .tit{
            color: white;
            padding:35px;
            font-size: 40px;
        }
        .sub{
            color: white;
            padding-top:100px;
            padding-left: 35px;
            font-size: 20px;
        }
        .material-icons{
            padding-right:25px;
            font-size: 40px;
        }