<!-- <div class="container">

    <div>
        <video class="video" src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1" data-length="" muted="" loop="" autoplay="" playsinline="" controls="" ></video>
    </div>
    <div>
        <img class="video" src="https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg" alt="No Image Available" srcset="">
         <img src ="/src/assets/bg_img.jpg" class="img" alt="" srcset=""> -->
    <!-- </div>
    <div class="c-img-txt-2__bg u-bg-white" style="background-image: url(');"></div> -->
<!-- </div> -->

<!-- <div class="container">
    <div class="item">Hello</div>
    <div class="item">From </div>
    <div class="item">The </div>
    <div class="item">Other Side </div>
</div> -->

<!-- <section id="div1">
    <p>Discover</p>
    <p>your world</p>
</section> -->
<section class="container_1">
    <video id = "div1"class="video" src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1" data-length="" muted="" loop="" autoplay="" playsinline="" >
        <!-- <div class="heading">Discover</div>
    <div class="heading">your world</div> -->
</video>
            <p class="title">Discover</p>
            <p class="subtitle">your world</p>

</section>
<section class="container_2" id="div2">
    <div class="second">
        <div class="heading1">Welcome to</div>
        <div class="heading2">our world</div>
        <!-- <h1> </h1> -->
        <div class="honda">
            <div class="paragraph">Discover the unique atmosphere of our private </div>
            <div class="paragraph">residential club communities. Once experienced. Never </div>
            <div class="paragraph">forgotten. This is classic, comfortable, modern living in </div>
            <div class="paragraph">nature’s most spectacular settings worldwide. </div>
            <div class="paragraph">Reassuringly exclusive. Generously welcoming. Find </div>
            <div class="paragraph">your unique world – a place where families love to be; </div>
            <div class="paragraph para2">creating unforgettable moments, together.</div>
        </div>  

        <div class="image123">
            <img  class="image1" src="../../../assets/image2.jpg" alt="" srcset="">
        </div>
    </div>
  
        <div class="image211">
            <img class="image2" src="../../../assets/image1.jpg" alt="" srcset="">
        </div>
    <!-- </div> -->
</section>

<section class="container_3" id="div3">
    <div class="">
        <div class="heading1">Explore</div>
        <div class="heading2">our worlds</div>
        <!-- <button type="button" class="previous" aria-label="Previous"></button>
        <button type="button" class="next" aria-label="Next"></button> -->
        <div class="slider">
            <!-- <img class="card" src="../../../assets/slider/Slider_img1.jpg" alt="" srcset="">
            <h1 class="title1">North Shore Preserve</h1>
            <h3 class="title2">Kaua'i, Hawaii</h3> -->
            <mat-card>
                <img class="card_img" src="../../../assets/slider/Slider_img1.jpg" alt="" srcset="">
                <mat-card-title class="card_title">North Shore Preserve</mat-card-title>
                <mat-card-subtitle class="card_subtitle">Kaua'i, Hawaii</mat-card-subtitle>
            </mat-card>
            <mat-card>
                <img class="card_img" src="../../../assets/slider/Slider_img2.jpg" alt="" srcset="">
                <mat-card-title class="card_title">CostaTerra</mat-card-title>
                <mat-card-subtitle class="card_subtitle">Comporta, Portugal</mat-card-subtitle>
            </mat-card>
            <mat-card>
                <img class="card_img" src="../../../assets/slider/Slider_img3.jpg" alt="" srcset="">
                <mat-card-title class="card_title">Driftwood</mat-card-title>
                <mat-card-subtitle class="card_subtitle">Austin, Texas</mat-card-subtitle>
            </mat-card>
            <mat-card>
                <img class="card_img" src="../../../assets/slider/Slider_img4.jpg" alt="" srcset="">
                <mat-card-title class="card_title">Troubadour</mat-card-title>
                <mat-card-subtitle class="card_subtitle">Nashville, Tennessee</mat-card-subtitle>
            </mat-card>
            
            <!-- <mat-card> <img class="card" src="../../../assets/slider/Slider_img2.jpg" alt="" srcset="">
                
                <mat-card-title class="bottom-left">CostaTerra</mat-card-title>
                <mat-card-subtitle class="">Comporta, Portugal</mat-card-subtitle>
            </mat-card>
            <mat-card> <img class="card" src="../../../assets/slider/Slider_img3.jpg" alt="" srcset="">
               <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-title class="bottom-left">Driftwood</mat-card-title>
                <mat-card-subtitle class="">Austin, Texas</mat-card-subtitle>
            </mat-card>
            <mat-card> <img class="card" src="../../../assets/slider/Slider_img4.jpg" alt="" srcset="">
                <mat-card-title>Shiba Inu</mat-card-title> 
                <mat-card-title class="title1">Troubadour</mat-card-title>
                <mat-card-subtitle class="title2">Nashville, Tennessee</mat-card-subtitle>
            </mat-card>  -->

           
            <!-- <img class="card"  src="../../../assets/slider/Slider_img2.jpg" alt="" srcset=""> -->
            <!-- <img class="card"  src="../../../assets/slider/Slider_img3.jpg" alt="" srcset="">
            <img class="card"  src="../../../assets/slider/Slider_img4.jpg" alt="" srcset="">
            <img class="card"  src="../../../assets/slider/Slider_img5.jpg" alt="" srcset="">
            <img class="card"  src="../../../assets/slider/Slider_img6.jpg" alt="" srcset="">
            <img class="card"  src="../../../assets/slider/Slider_img7.jpg" alt="" srcset=""> -->
        </div>
        </div>
    </section>


    //Section to showcase to Globe

    <section class="container_4" id="div4">
        <div class="">
            <div class="heading1">Lands of</div>
            <div class="heading2">Discovery</div>
        </div>
        <div class="paragraph honda">A world away from the day-to-day. Your escape. Your haven. Your world. </div>
        <div class="paragraph honda">Explore the map below and take a journey to our communities </div>
        <div class="count">
            <div class="country">North America & Caribbean</div>
            <div class="country">Hawaii</div>
            <div class="country">Europe</div>
        </div>
        <!-- <hr>   -->
    </section>
    <section class="container_5 bg_img" id="div5">
        <mat-card class="bg_color"></mat-card>
       
           <img id="img_float" class="image_top" src="../../../assets/slider/Slider_img4.jpg" alt="" srcset="">        
       
    </section>
    
    
    

