<!-- <div class="container">

    <div>
        <video class="video" src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1" data-length="" muted="" loop="" autoplay="" playsinline="" controls="" ></video>
    </div>
    <div>
        <img class="video" src="https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg" alt="No Image Available" srcset="">
         <img src ="/src/assets/bg_img.jpg" class="img" alt="" srcset=""> -->
    <!-- </div>
    <div class="c-img-txt-2__bg u-bg-white" style="background-image: url(');"></div> -->
<!-- </div> -->

<!-- <div class="container">
    <div class="item">Hello</div>
    <div class="item">From </div>
    <div class="item">The </div>
    <div class="item">Other Side </div>
</div> -->

<!-- <section id="div1">
    <p>Discover</p>
    <p>your world</p>
</section> -->
<div>
    <video id = "div1"class="video" src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1" data-length="" muted="" loop="" autoplay="" playsinline="" >
        <!-- <div class="heading">Discover</div>
    <div class="heading">your world</div> -->
</video>

</div>
<section id="div2">
    <div class="second">
        <div class="heading1">Welcome to</div>
        <div class="heading2">our world</div>
        <!-- <h1> </h1> -->
        <div class="honda">
            <div class="paragraph">Discover the unique atmosphere of our private </div>
            <div class="paragraph">residential club communities. Once experienced. Never </div>
            <div class="paragraph">forgotten. This is classic, comfortable, modern living in </div>
            <div class="paragraph">nature’s most spectacular settings worldwide. </div>
            <div class="paragraph">Reassuringly exclusive. Generously welcoming. Find </div>
            <div class="paragraph">your unique world – a place where families love to be; </div>
            <div class="paragraph para2">creating unforgettable moments, together.</div>
        </div>  

        <div class="image123">
            <img  class="image1" src="../../../assets/image2.jpg" alt="" srcset="">
        </div>
    </div>
  
        <div class="image211">
            <img class="image2" src="../../../assets/image1.jpg" alt="" srcset="">
        </div>
    <!-- </div> -->
</section>
