<router-outlet></router-outlet>
<!-- <app-header></app-header> -->
<!-- <app-home-page></app-home-page> -->
<!-- <app-dummy></app-dummy> -->
<!-- <app-footer></app-footer> -->


<!-- <div class="c-locations__slides c-slider__slides o-padding-bottom-xs" data-cursor="[&quot;hover&quot;, &quot;drag&quot;]">

                  
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/north-shore-preserve" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/8816/iStock-937940104_carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">North Shore Preserve</h1>
          <p class="c-slide__text">Kaua'i, Hawaii</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/james-island" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6944/Carousel_500x750_200612_084523_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/6944/Carousel_500x750_200612_084523_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">James Island</h1>
          <p class="c-slide__text">Southern Gulf Islands, British Columbia, Canada</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/costa-terra-golf-and-ocean-club" style="transform: translate3d(-1279.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6894/IMG_00162-copy_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/6894/IMG_00162-copy_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">CostaTerra</h1>
          <p class="c-slide__text">Comporta, Portugal</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/barbuda-ocean-club" style="transform: translate3d(-1706.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6492/LM-Coco-Point-Barbuda-0266_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/6492/LM-Coco-Point-Barbuda-0266_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Barbuda Ocean Club</h1>
          <p class="c-slide__text">Barbuda, West Indies</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/driftwood-golf-and-ranch-club" style="transform: translate3d(-2039.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/188/driftwood-1_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/188/driftwood-1_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Driftwood</h1>
          <p class="c-slide__text">Austin, Texas</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/troubadour-golf-and-field-club" style="transform: translate3d(-2039.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6669/Troubadour_Andy-Carlson_Golf_October-2019_DJI_0172-copycrop_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/6669/Troubadour_Andy-Carlson_Golf_October-2019_DJI_0172-copycrop_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Troubadour</h1>
          <p class="c-slide__text">Nashville, Tennessee</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/playa-grande-golf-and-ocean-club" style="transform: translate3d(-2039.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/206/Grande-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/206/Grande-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Playa Grande</h1>
          <p class="c-slide__text">Rio San Juan, Dominican Republic</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/chileno-bay-golf-and-beach-club" style="transform: translate3d(-2039.67px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/365/chileno-carousel_190704_100748_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false" src="https://dxaurk9yhilm4.cloudfront.net/images/365/chileno-carousel_190704_100748_397186feb8bd51bb37bc24fc2b9b500f.jpg" style="opacity: 1;">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Chileno Bay</h1>
          <p class="c-slide__text">Cabo San Lucas, Mexico</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/the-summit-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/211/Summit-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">The Summit</h1>
          <p class="c-slide__text">Las Vegas, Nevada</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/dune-deck-beach-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/82/Dune_deck_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Dune Deck</h1>
          <p class="c-slide__text">Westhampton Beach, NY</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/silo-ridge-field-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6654/Silo_Andy-Carlson_golf_October-2019_DJI_0020-copycrop_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Silo Ridge</h1>
          <p class="c-slide__text">Amenia, New York</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/makena-golf-and-beach-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/6796/IMG_0911_397186feb8bd51bb37bc24fc2b9b500f.jpeg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Mākena</h1>
          <p class="c-slide__text">Maui, Hawaii</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/yellowstone-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/212/Yellowstone-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Yellowstone Club</h1>
          <p class="c-slide__text">Big Sky, Montana</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/gozzer-ranch-golf-and-lake-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/205/GozzerRanch-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Gozzer Ranch</h1>
          <p class="c-slide__text">Coeur d’Alene, Idaho</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/el-dorado-golf-and-beach-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/203/ElDorado-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">El Dorado</h1>
          <p class="c-slide__text">Los Cabos, Mexico</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/the-madison-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/370/Madison2-Carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Madison</h1>
          <p class="c-slide__text">La Quinta, California</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/bakers-bay-golf-and-ocean-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/695/Bakers_Marina_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Baker's Bay</h1>
          <p class="c-slide__text">Great Guana Cay, Bahamas</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/hideaway-golf-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/617/clubhouse-copy_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Hideaway</h1>
          <p class="c-slide__text">La Quinta, California</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/mountaintop-golf-and-lake-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/717/MOUNTAINTOP_CAROUSEL_190715_144237_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Mountaintop</h1>
          <p class="c-slide__text">Cashiers, North Carolina</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/mirabel-golf-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/372/mirabel-carousel_190704_104754_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Mirabel</h1>
          <p class="c-slide__text">Scottsdale, Arizona</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/kukio-golf-and-beach-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/479/Kukio-map1_397186feb8bd51bb37bc24fc2b9b500f.JPG" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Kūki'o</h1>
          <p class="c-slide__text">Kohala, Hawaii</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/vaquero-golf-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/213/Vaquero-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Vaquero</h1>
          <p class="c-slide__text">Westlake, Texas</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/iron-horse-golf-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/208/ironhorse-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Iron Horse</h1>
          <p class="c-slide__text">Whitefish, Montana</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/cordevalle-golf-club-and-lodge" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/249/CordeValle-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">CordeValle</h1>
          <p class="c-slide__text">Silicon Valley, California</p>
        </div>
      </div>
    </article>
            
    <article class="c-slide c-slide--loc | js-slide" data-href="https://discoverylandco.com/communities/the-estancia-club" style="transform: translate3d(-1019.08px, 0px, 0px);">
      <div class="c-slide__inner">
        <figure class="c-slide__bg o-cover | js-slide__bg">
          <img data-lazy-src="https://dxaurk9yhilm4.cloudfront.net/images/7326/Estancia_sized-vert_397186feb8bd51bb37bc24fc2b9b500f.jpg" alt="" draggable="false">
        </figure>
        <div class="c-slide__content | js-slide__content">
          <h1 class="c-slide__title">Estancia</h1>
          <p class="c-slide__text">Scottsdale, Arizona</p>
        </div>
      </div>
    </article>
  
</div> -->